.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e6c42e;
  margin: 1vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1-containter h1, nav{
  display: flex;
  justify-content: center;
}

.circle-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.h1-containter{
  display: flex;
  justify-content: center;
  text-align: center;
}

.circle{
  margin: 2px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border: solid;
}

.bigCircle{
  margin: 2px;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: solid;
}

.circleBigCircle{
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: solid;
  background-color: rgb(184, 178, 178);
}

.blue{
  background-color: rgb(47, 186, 201);
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.img-container{
  display: flex;
  justify-content: space-between;
}
.img-container img{
  width: 25vw;
  height: 45vh;
}