* {
  box-sizing: border-box;
}


.flex{
    display: flex;
}

.pokedex {
  background-color: #C00C0C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.pokedex-title {
  color: white;
  font-size: 25px;
}
.pokedex-screen {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  position: relative;
  border-radius: 40px;
  border: 10px solid #B1B1B1;
}
.pokemon-list {
  display: flex;
  position: absolute;
  justify-items: center;
  transition: 1s;
}

.pokemon-list .pokemon-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  padding: 10px 0;
  background-color: white;
  width: 30vw;
  height: 30vw;
}

.pokemon-list .pokemon-list h3 {
  text-align: center;
}

.pokemon-list .pokemon-item .pokemon-type {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

.pokedex-footer {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  padding-top: 50px;
  align-items: center;
}

.pokedex-id {
  border: 4px solid #006D64;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.App-link {
  padding: 10px;
  color: black;
  margin: 1vw;
  text-decoration: none;
  border-radius: 2px ;
  border: solid;
}

.pokedex-button {
  display: flex;
}

.pokedex-button button {
  background-color: #222222;
  border-radius: 20px;
  width: 50px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
}
.pokedex-button button:first-child::after {
  content: "";
  display: block;
  background-color: white;
  width: 15px;
  height: 15px;
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.h1-containter h1, nav{
  display: flex;
  justify-content: center;
}

.circle-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.h1-containter{
  display: flex;
  justify-content: center;
  text-align: center;
}

.circle{
  margin: 2px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border: solid;
}

.bigCircle{
  margin: 2px;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: solid;
}

.circleBigCircle{
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: solid;
  background-color: rgb(184, 178, 178);
}

.blue{
  background-color: #28B4FA;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.img-container{
  display: flex;
  justify-content: space-between;
}
.img-container img{
  width: 25vw;
  height: 45vh;
}

.pokedex-button button:last-child::after {
  content: "";
  display: block;
  background-color: white;
  width: 15px;
  height: 15px;
  clip-path: polygon(0 0%, 100% 50%, 0 100%);
}



.pokemon-description {
    background-color: white;
    margin-left: 50px;
    padding: 30px;
    border-radius: 40px;
    border: 10px solid #B1B1B1;
}

.div-base-stat{
    margin-left: 10px;
}